@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1652067055527') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuidahua:before {
  content: "\e621";
}

.icon-video:before {
  content: "\e7c8";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-24gf-volumeMiddle:before {
  content: "\ea11";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-loading:before {
  content: "\e639";
}

