@import "../../config.scss";
@import "../../var.scss";
@import "../../mixins.scss";
@import "../../icon.scss";

@include b(select){
  display: inline-block;
  position: relative;

  @include e(tags){
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: $index-normal;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .t-tag{
    margin: 2px 0 2px 6px;
  }

  .t-input{
    display: block;
  }

  @include e(input){
    border: none;
    outline: none;
    padding: 0;
    margin-left: 15px;
    font-size: $font-size;
    appearance: none;
    height: 28px;
    background-color: transparent;
  }
}

@include b(select-dropdown){
  position: absolute;
  z-index: #{$index-top + 1};
  border: $select-dropdown-border;
  background-color: $select-dropdown-background;
  $border-radius:$border-radius;
  box-shadow: $select-dropdown-shadow;
  box-sizing: border-box;
  margin: 5px 0;
  font-size: $select-font-size;
}
@include b(select-dropdown__empty){
  padding: $select-dropdown-empty-padding;
  margin: 0;
  text-align: center;
  font-size: $select-font-size;
  color: $select-dropdown-empty-color;
}