@import "../../config.scss";
@import "../../var.scss";
@import "../../mixins.scss";

[class*="t-Col-"] {
  float: left;
  box-sizing: border-box;
}

.t-Col-0 {
  display: none;
}

@for $i from 0 through 24 {
  .t-Col-#{$i} {
    width: (1 / 24 * $i * 100) * 1%;
  }

  .t-Col-offset-#{$i} {
    margin-left: (1 / 24 * $i * 100) * 1%;
  }

  .t-Col-pull-#{$i} {
    position: relative;
    right: (1 / 24 * $i * 100) * 1%;
  }

  .t-Col-push-#{$i} {
    position: relative;
    left: (1 / 24 * $i * 100) * 1%;
  }
}