@import "../../config.scss";
@import "../../var.scss";
@import "../../mixins.scss";
@import "../../icon.scss";

@include b(tag){
  display: inline-block;
  height: 32px;
  padding: $tag-padding;
  line-height: 30px;
  font-size: $tag-font-size;
  color: $primary-color;
  background-color: mix($white-color, $primary-color, 90%);
  border-color: mix($white-color, $primary-color, 60%);
  border-width: 1px;
  border-style: solid;
  border-radius: $tag-border-radius;
  box-sizing: border-box;
  white-space: nowrap;

  @include when(plain){
    background-color: $white-color;
  }
  
  .t-tag__close{
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px;

    &:hover{
      color: $white-color;
      background-color:mix($primary-color, $white-color, 80%);
    }

    &::before{
      display: block;
    }
  }

  @include state {
    color: $state-background-color;
    background-color: mix($white-color, $state-background-color, 90%);
    border-color: mix($white-color, $state-background-color, 60%);

    .t-tag__close{
      &:hover{
        color: $white-color;
        background-color:mix($state-background-color, $white-color, 80%);
      }
    }
  }
}